/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    height: 100%;
    padding-top: 80px;
    background:#2174bd;
    background: rgba(3,58,110,0.9);
    background-image: url('../images/Squash_Court.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 50px;
}

h2 {
    font-size:300%;
    font-weight:500;
    color:white;
}

h4 {
    font-size: 200%;
    font-weight: 500;
    color: #52AEFF;
}

p {
    color: lightblue;
}

label {
    color:orange;
}

form-control {
    border-radius:0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height:100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


.logonew {
    max-height: 80px;
    float: left;
    margin-top: -14px;
    margin-bottom:-14px;
    display: block;
    padding: 0;
}

.navbar-collaspe {
    clear:both;
}

.collaspe {
    clear: both;
}


.navbar-brand {
    max-width:100%;
    height:auto;
}

.navbar {
    border-bottom: 5px solid orange;
    min-height:20px;
}

.navbar-right {
    margin-right:1px;
}

.well {
    text-align: center;
    border: 3px solid orange;
    border-radius: 0px;
    /*background: white;
    background: rgba(255, 255, 255, 0.8);*/
    color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

    .well h3 {
        color: darkorange;
        font-size:2em;
        font-weight:700;
    }

    .well p {
        color: #2174bd;
    }

.dl-horizontal {
    color:orange;
}



.container {
    display: block;
    position: center;
    height: 75%;
    background: #2174bd;
    background: rgba(3,58,110,0.8);
    border: 8px solid #52AEFF;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 5px #52AEFF;
    box-shadow: 0px 0px 15px 15px #52AEFF;
    margin-top: 30px;
    padding-top: 10px;
}

.wrapper {
    position: relative;
    min-height: 90vh;
    margin-bottom:100px;
    padding-bottom:100px;
}


footer {
    /*position:absolute;
    bottom:20px;
    margin-top:-20px;
    height:40px;
    width:100%;
    display:block;
    float:left;*/
    color: darkgrey;
    padding-top:5px;
}



formbackground {
    font-family: Tahoma, Geneva, sans-serif;
    border: 5px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
}


.btn {
    border-radius:0px;
}

.LeagueSelect {
    display: block;
    float: right;
    padding-right:5px;
}

.TeamPlayerSelect {
    display: block;
    float: right;
    padding-left:5px;

}

.HomeTitle {
    display: block;
    float:left;

}

.availableSlots {
    display: block;
    float:left;
    width:100%;
    height:100px;
}

table {
    background-color:white;
    background-color:rgba(255,255,255,0.7);
}

table thead {
    background-color:orange;
    background-color:rgba(255, 153, 0, 0.85);
    color:white;
}

.topdiv {
    width: 100%;
    min-height: 120px;
    overflow:hidden;
    position: relative;
    padding:10px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .logonew {
        all: unset;
        max-width: 240px;
        margin-top: -14px;
        margin-bottom: -14px;
    }

    body {
        background-image: none;
        padding: 0px;
        margin: 0px;
        padding-top: 50px;
        background: #2174bd;
        background: rgba(3,58,110,0.9);
    }

    h2 {
        font-size:200%;
        font-weight:300;
    }

    .container {
        all: initial;
        all: unset;
        display: block;
        width: 100%;
        min-height: 100%;
        position: absolute;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        margin-top: 0px;
        padding-bottom: 100px;
        padding-top: 1px;
        background: #2174bd;
        background: rgba(3,58,110,0.9);
        overflow:scroll;
    }

    .LeagueSelect {
        float:left;
        width:100%;
        margin:5px;
        padding:0px;
    }

    .TeamPlayerSelect {
        float: left;
        width: 100%;
        margin-left: 5px;
        margin-bottom:5px;
        padding: 0px;
    }

    .topdiv {
        width: 100%;
        min-height: 210px;
        position: relative;
    }

    footer {
        /*height:50px;*/
        color:darkgrey;
    }

}