/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    height: 100%;
    padding-top: 80px;
    background-image: url('../images/Squash_Court.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin-bottom:50px;
}

h2 {
    font-size:300%;
    font-weight:500;
    color:white;
}

h4 {
    font-size: 200%;
    font-weight: 500;
    color: #52AEFF;
}

label {
    color:orange;
}

form-control {
    border-radius:0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height:100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


.logonew {
    max-height: 100px;
    float: left;
    margin-top: -14px;
    margin-bottom:-14px;
    display: block;
    padding: 0;
}

.navbar-collaspe {
    clear:both;
}

.collaspe {
    clear: both;
}


.navbar-brand {
    max-width:100%;
    height:auto;
}

.navbar {
    border-bottom: 5px solid orange;
}

.navbar-right {
    margin-right:5px;
}

.well {
    border: 5px solid #2174bd;
    background: rgba(255, 255, 255, 0.5);
}

.dl-horizontal {
    color:orange;
}



.container {
    display: block;
    position: center;
    height: 75%;
    background: rgba(3,58,110,0.9);
    border: 8px solid #52AEFF;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 5px #52AEFF;
    box-shadow: 0px 0px 15px 15px #52AEFF;
    margin-top: 50px;
    padding-top: 10px;
}

.wrapper {
    position:relative;
    min-height:80vh;
    padding-bottom:25px;
}


footer {
    position:absolute;
    bottom:0px;
    height:20px;
    width:100%;
    display:block;
    float:left;
}



formbackground {
    font-family: Tahoma, Geneva, sans-serif;
    border: 5px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
}


.btn {
    border-radius:0px;
}

.LeagueSelect {
    display: block;
    float:right;
}

.HomeTitle {
    display: block;
    float:left;
}

table{
    background-color:rgba(255,255,255,0.7);
}

table thead {
    background-color:rgba(255, 153, 0, 0.85);
    color:white;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .logonew {
        all: unset;
        max-width: 240px;
        margin-top: -14px;
        margin-bottom: -14px;
    }

    body {
        background-image: none;
        padding:0px;
        margin:0px;
        padding-top:50px;
    }

    h2 {
        font-size:200%;
        font-weight:300;
    }

    .container {
        all: initial;
        all: unset;
        display:block;
        width: 100%;
        border: none;
        border-radius:0px;
        box-shadow: none;
        margin-top: 0px;
        padding-top: 1px;
        background: rgba(3,58,110,0.9);
    }

    .LeagueSelect {
        float:right;
        width:100%;
        margin:0px;
        padding:0px;
    }

}