@page
@model KSCApp.Pages.Admin.Fixtures.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Fixture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="well">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fixture.FixtureId" />
            <div class="form-group">
                <label asp-for="Fixture.LeagueId" class="control-label"></label>
                <select asp-for="Fixture.LeagueId" class="form-control" asp-items="ViewBag.LeagueId"></select>
                <span asp-validation-for="Fixture.LeagueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fixture.TeamAId" class="control-label"></label>
                <select asp-for="Fixture.TeamAId" class="form-control" asp-items="ViewBag.TeamAId"></select>
                <span asp-validation-for="Fixture.TeamAId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fixture.TeamBId" class="control-label"></label>
                <select asp-for="Fixture.TeamBId" class="form-control" asp-items="ViewBag.TeamBId"></select>
                <span asp-validation-for="Fixture.TeamBId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fixture.PlayDate" class="control-label"></label>
                <input asp-for="Fixture.PlayDate" class="form-control" />
                <span asp-validation-for="Fixture.PlayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
