@page
@model KSCApp.Pages.Admin.Matches.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Match.FixtureId" class="control-label"></label>
                <select asp-for="Match.FixtureId" class ="form-control" asp-items="ViewBag.FixtureId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Match.PlayerA" class="control-label"></label>
                <select asp-for="Match.PlayerA.PlayerName" class ="form-control" asp-items="ViewBag.PlayerAId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Match.PlayerB" class="control-label"></label>
                <select asp-for="Match.PlayerB.PlayerName" class ="form-control" asp-items="ViewBag.PlayerBId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Match.Level" class="control-label"></label>
                <input asp-for="Match.Level" class="form-control" />
                <span asp-validation-for="Match.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.Played" class="control-label"></label>
                <input asp-for="Match.Played" class="form-control" />
                <span asp-validation-for="Match.Played" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.PlayedDate" class="control-label"></label>
                <input asp-for="Match.PlayedDate" class="form-control" />
                <span asp-validation-for="Match.PlayedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.PlayerAgames" class="control-label"></label>
                <input asp-for="Match.PlayerAgames" class="form-control" />
                <span asp-validation-for="Match.PlayerAgames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.PlayerBgames" class="control-label"></label>
                <input asp-for="Match.PlayerBgames" class="form-control" />
                <span asp-validation-for="Match.PlayerBgames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
