@using KSCApp.ViewModels
@model LeagueSelectVM

<div class="col-lg-3 LeagueSelect">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select League</label>
                <select asp-for="SelectedLeagueId" class="form-control" asp-items="this.Model.LeagueSelectList" onchange="this.form.submit()"></select>
                @*@Html.DropDownListFor(x => x.SelectedLeagueId, this.Model.LeagueSelectList, Model.SelectedLeague.LeagueName, htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })*@
            </div>
        </form>
    </div>
</div>

