@page
@model KSCApp.Pages.Members.MatchToSlotModel


<div class="col-lg-6">
    <div>
        <form method="post">
            <div class="form-group">
                <div class="well">
                    <input type = "hidden" asp-for="MatchSlotSelectVM.SelectedMatchId" class="form-control" />
                    <p>@Model.MatchSlotSelectVM.LeagueName</p>
                    <h3>@Model.MatchSlotSelectVM.MatchDetails</h3>
                </div>
                <label class="control-label">Select Available Slots</label>
                <select asp-for="MatchSlotSelectVM.SelectedMatchSlotId" class="form-control" asp-items="ViewBag.MatchSlotId"></select>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Book this Slot" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>