@page
@model KSCApp.Pages.Members.MatchScoreModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Enter Match Score</h2>
<br/>
<p>Todo; Enter Match Score and update team scores...</p>